@font-face {
    font-family: helveticaNeue;
    src: url("../assets/HelveticaNeue-01.ttf") format("truetype");
}

@font-face {
    font-family: helveticaNeueBold;
    src: url("../assets/HelveticaNeue-Bold-02.ttf") format("truetype");
}

@font-face {
    font-family: helveticaNeueThin;
    src: url("../assets/HelveticaNeue-Light-08.ttf") format("truetype");
}

:root {
    --yellow: #E9C645;
    --green: #77B856;
    --blue: #2F6DF6;
    --red: #BF436C;
    --gray: #505050;

    --contact-bg: #232529;
    --contact-lightgray: #6A6E78;

    --school-bg: #f0f4fc;
    
    --work-bg: #ffe8e8;
    
    --projects-bg: #b5dbff;

    --bold-font: helveticaNeueBold;
    --regular-font: helveticaNeue;
    --thin-font: helveticaNeueThin;

    --luca-fs-pc: 40px;
    --luca-fs-mobile: 30px;
    --sub-luca-fs: 38px;
    --category-fs: 38px;

    --epithet-fs-pc: 30px;
    --epithet-fs-mobile: 23px;
    
    --section-title-fs-pc: 30px;
    --section-title-fs-mobile: 23px;

    --age-fs-pc: 30px;
    --age-fs-mobile: 18px;

    --projects-title-fs-mobile: 20px;
    --projects-desc-fs-mobile: 18px;
}

////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// HEADER & BODY ////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
    // background: var(--yellow) !important;
    // background: rgb(237, 195, 137, 0.5) !important;
    // background: rgb(146, 93, 177, 0.3) !important;
    background: rgb(233, 198, 69, 0.5) !important;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
}

p, h1, span {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: var(--thin-font);
    font-size: var(--luca-fs-mobile);
    color: var(--gray);
}

span#L-letter {
    color: var(--yellow);
}
span#U-letter {
    color: var(--green);
}
span#C-letter {
    color: var(--blue);
}
span#A-letter {
    color: var(--red);
}

#header {
    z-index: 999;
    padding: 0;
    margin: 0;
    // position:sticky;
    top: 0;
    // height: 10vh;

    #header-container {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        max-width: 90%;
        margin: 0 auto;
        // padding: 10px 50px 10px 50px;
        height: 10vh;
        // width: 100%;
        box-sizing: border-box;
    
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
    
        // overflow: hidden;
        // align-self: flex-start;
        .nav-text {
            margin: 2vh 0 0 0;
            padding: 0;
            #epithet {
                margin-top: 2%;
                font-size: var(--epithet-fs-mobile);
                font-family: var(--thin-font);
                color: var(--gray);
            }
            #name {
                cursor: pointer;
                // align-self: center;
                // user-select:none;
                h1.luca {
                    margin: 0;
                    padding: 0;
                    font-family: var(--bold-font);
                    font-size: var(--luca-fs-mobile);
                    letter-spacing: 0.093em;

                    span#BORLETTI {
                        font-family: var(--thin-font);
                        color: var(--gray);
                    }
                }
            }
        }
        #pound-symbol {
            display:none;
            height: 30px;
            width: auto;
            transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
        }
    }
}

#home {
    // background: blue;
    // color: white;
    text-decoration: none;
    padding: 10px;
    font-size: var(--epithet-fs-mobile);
    border-radius: 20px;
    // font-weight: bold;
    display: inline-block;
    position:absolute;
    bottom: 5%;
    left: 5%;
    margin: 0;
    // transition: all 0.4s ease 0s;
    color: var(--gray);

    p {
        margin: 0;
    }
    transition: all .5s ease-in-out;
    // display: flex;
    border: 2.5px solid var(--gray);
    // outline: 5px none var(--primary-blue);
    span {
        display: inline-block;
        position: relative;
        transition: 0.2s;
        // font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
    }

    span:after {
        content: '\00bb';
        // position: absolute;
        opacity: 0;
        // top: 0;
        // right: -20px;
        transition: 0.2s;
        display: none;
    }
}

#back {
    // background: blue;
    // color: white;
    text-decoration: none;
    padding: 10px;
    font-size: var(--epithet-fs-mobile);
    border-radius: 20px;
    // font-weight: bold;
    display: inline-block;
    position:absolute;
    bottom: 5%;
    left: 5%;
    margin: 0;
    // transition: all 0.4s ease 0s;
    color: var(--gray);

    p {
        margin: 0;
    }
    // transition: all .5s ease-in-out;
    transition:.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    // display: flex;
    // border: 2.5px solid var(--gray);
    // outline: 5px none var(--primary-blue);
    span.back-text {
        display: inline-block;
        position: relative;
        transition: 0.2s;
        // font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
    }

    span.back-text:after {
        content: 'home  ';
        // position: absolute;
        opacity: 0;
        // top: 0;
        // right: -20px;
        // transition: 0.2s;
        transition:.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        display: none;
    }
    span.back-arrow {
        // font-size: 100px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

#back:hover {
    transition:.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    // transition: all .5s ease-in-out;
    // border: 5px solid var(--primary-blue);
    // transition: all 0.4s ease 0s;
    // outline: 1px solid var(--primary-blue);
    // font-weight:200;
    // border-width: thick;
    color: white;
    background: var(--gray);
    
    span.back-text {
        padding-right: 10px;
    }
    span.back-text:after {
        opacity: 1;
        right: 0;
        display: unset;
    }
}

#home:hover {
    transition: all .5s ease-in-out;
    // border: 5px solid var(--primary-blue);
    // transition: all 0.4s ease 0s;
    // outline: 1px solid var(--primary-blue);
    // font-weight:200;
    // border-width: thick;
    color: white;
    background: var(--gray);
    
    span {
        padding-left: 15px;
    }
    span:after {
        opacity: 1;
        right: 0;
        display: unset;
    }
}

.home-btn-off {
    // margin-right: -100% !important;
    // display: none !important;
    left: -20% !important;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
}

.anim-container {
    p {
        margin: 0;
        padding: 0 0 1.5px 0;
    }
    font-size: var(--epithet-fs-mobile);
    // font-family: var(--thin-font);
    font-family: var(--regular-font);
    letter-spacing: 0.073em;
    display: inline-block;
    position:absolute;
    bottom: 5%;
    left: 5%;
    color: var(--gray);
    margin: 0;
    padding: 0;
    // display: flex;
    // align-items: center;
    cursor: pointer;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
}

.underline-anim {
    // overflow: hidden;
    display: inline-block;
    position: relative;
    padding: 0.2em 0;
    text-decoration: none;
}

.underline-anim::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
  border-radius: 3px;
//   height: 0.1em;
  height: 2.2px;
//   background-color: var(--primary-darkgray);
  background-color: var(--gray);
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.underline-anim::after {
    opacity: 1;
    transform: translate3d(-200%, 0, 0);
}

.underline-anim:hover::after,
.underline-anim:focus::after{
    transform: translate3d(-67%, 0, 0);
}

// #w-goback {
//     background-color: rgb(0, 0, 0);
//     /* Fallback color */
//     background-color: rgba(0, 0, 0, 0.2);
//     /* Black w/opacity/see-through */
//     border: 3px solid;
// }

// .goback {
//     text-align: center;
//     text-decoration: underline;
//     font-size: 32px;
//     font-family: monospace;
//     letter-spacing: 5px;
// }
// .gobackanimated {
//     background: linear-gradient(to right, var(--yellow),  var(--green), var(--blue), var(--red));
//     -webkit-background-clip: text;
//     background-clip: text;
//     color: transparent;
//     animation: rainbow_animation 6s ease-in-out infinite;
//     background-size: 400% 100%;
// }

// @keyframes rainbow_animation {
//     0%,100% {
//         background-position: 0 0;
//     }

//     50% {
//         background-position: 100% 0;
//     }
// }

#github, #linkedin {
    cursor: pointer;
}

#github:hover, #linkedin:hover {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
    // transform: scale(1.01);
    // transform-origin:center center;
    filter: brightness(110%) saturate(140%);
}

#holder {
    display: none;
}

// #link-container {
//     .link-logo {
//         width: 18vw;
//         height: 18vw;
//     }
//     display: flex;
//     flex-direction: column;

// }

#links_belt {
    margin: 2vh 0 0 0;
    // margin-top: 2vh !important;
    max-width: 20vw;
    max-height: 16vh;
}

#text-bar {
    display: none;
}
#text-comma {
    display: unset;
}

.age {
    font-family: var(--thin-font);
    color: var(--gray);
    letter-spacing: 0.093em;
    font-size: var(--age-fs-pc);
}

#nav-menu {
    width: 50%;
    display: flex;
    // justify-content: space-between;
    // flex-direction: column;
    // top: 0;
    // right: 100%;
    // position: absolute;

    #nav-projects {
        color: var(--yellow);
        text-shadow: .5px .5px var(--contact-lightgray);
        // color: var(--gray);
        font-family: var(--thin-font);
        font-size: var(--luca-fs-pc);
        // font-size: 25px;
        letter-spacing: 0.093em;
        font-weight: bold;
    }
    
    #nav-work {
        color: var(--green);
        text-shadow: .5px .5px var(--contact-lightgray);
        // color: var(--gray);
        font-family: var(--thin-font);
        font-size: var(--luca-fs-pc);
        // font-size: 25px;
        letter-spacing: 0.093em;
        font-weight: bold;
    }
    
    #nav-school {
        color: var(--blue);
        text-shadow: .5px .5px var(--contact-lightgray);
        // color: var(--gray);
        font-family: var(--thin-font);
        font-size: var(--luca-fs-pc);
        // font-size: 25px;
        letter-spacing: 0.093em;
        font-weight: bold;
    }
    
    #nav-contact {
        color: var(--red);
        text-shadow: .5px .5px var(--contact-lightgray);
        // color: var(--gray);
        font-family: var(--thin-font);
        font-size: var(--luca-fs-pc);
        // font-size: 25px;
        letter-spacing: 0.093em;
        font-weight: bold;
    }
}

// #header:hover {
//     height: 100vh;
// }

.drawing-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-left {
    transform:translate(-10px, 0);
}

////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// SVG ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

svg#toolbelt {
    max-width: 95%;
    max-height: 90vh;
    height: auto;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
}

g, path {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
}

////////////////////////////// SVG "TOOL" ACTIVATION ///////////////////////////

.scale-belt-school {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
    transform: scale(1.2) translate(15%, 5%);
}

.scale-belt-projects {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
    transform: scale(1.2) translate(0, 15%);
}

.scale-belt-work {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
    transform: scale(1.2) translate(-20%, 10%);
}

.scale-belt-contact {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
    transform: scale(1.2) translate(15%, 0);
}

#g_pencil_1, #g_pencil_2, #g_bp, #g_wrench, #g_hammer, #g_phone {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
}

#g_pencils, #g_wrench, #g_hammer, #g_bp, #school, #g_school, #g_projects, 
#g_work, #g_phone, #g_contact, #pound-symbol {
    cursor: pointer;
}


.pencil_1_active {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
    -webkit-transform: translate(0px, -60px) rotate(2deg);
    -ms-transform: translate(0px, -60px) rotate(2deg);
    -moz-transform: translate(0px, -60px) rotate(2deg);
    -o-transform: translate(0px, -60px) rotate(2deg);
    transform: translate(0px, -60px) rotate(2deg);
    filter: brightness(110%) saturate(140%);
    transform-origin: center;
}

.pencil_2_active {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
    -webkit-transform: translate(8px, -45px) rotate(2deg);
    -ms-transform: translate(8px, -45px) rotate(2deg);
    -moz-transform: translate(8px, -45px) rotate(2deg);
    -o-transform: translate(8px, -45px) rotate(2deg);
    transform: translate(8px, -45px) rotate(2deg);
    filter: brightness(110%) saturate(140%); 
    transform-origin: center;
}
.blueprint_active {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
    -webkit-transform: translate(-0px, -50px) rotate(-3deg);
    -ms-transform: translate(-0px, -50px) rotate(-3deg);
    -moz-transform: translate(-0px, -50px) rotate(-3deg);
    -o-transform: translate(-0px, -50px) rotate(-3deg);
    transform: translate(-0px, -50px) rotate(-3deg);
    filter: brightness(110%) saturate(140%); 
    transform-origin: center;
}
.hammer_active {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    -webkit-transform: translate(-5px, -40px) rotate(-4deg);
    -ms-transform: translate(-5px, -40px) rotate(-4deg);
    -moz-transform: translate(-5px, -40px) rotate(-4deg);
    -o-transform: translate(-5px, -40px) rotate(-4deg);
    transform: translate(-5px, -40px) rotate(-4deg);
    filter: brightness(110%) saturate(140%); 
    transform-origin: center;
}
.wrench_active {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
    -webkit-transform: translate(15px, -55px) rotate(3deg);
    -ms-transform: translate(15px, -55px) rotate(3deg);
    -moz-transform: translate(15px, -55px) rotate(3deg);
    -o-transform: translate(15px, -55px) rotate(3deg);
    transform: translate(15px, -55px) rotate(3deg);
    filter: brightness(110%) saturate(140%); 
    transform-origin: center;
}
.phone_active {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
    -webkit-transform: translate(70px, -60px) rotate( 7deg);
    -ms-transform: translate(70px, -60px) rotate( 7deg);
    -moz-transform: translate(70px, -60px) rotate( 7deg);
    -o-transform: translate(70px, -60px) rotate( 7deg);
    transform: translate(70px, -60px) rotate( 7deg);
    filter: brightness(110%) saturate(140%);
    transform-origin: center;
}

// .pencil_1_active {
//     transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
//     -webkit-transform: translate(171.853px + 0px, 318.93px + -60px) rotate(2deg);
//     -ms-transform: translate(171.853px + 0px, 318.93px + -60px) rotate(2deg);
//     -moz-transform: translate(171.853px + 0px, 318.93px + -60px) rotate(2deg);
//     -o-transform: translate(171.853px + 0px, 318.93px + -60px) rotate(2deg);
//     transform: translate(171.853px + 0px, 318.93px + -60px) rotate(2deg);
//     filter: brightness(110%) saturate(140%);
// }

// .pencil_2_active {
//     transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
//     -webkit-transform: translate(231.343px + 3px, 338.865px + -45px) rotate(3deg);
//     -ms-transform: translate(231.343px + 3px, 338.865px + -45px) rotate(3deg);
//     -moz-transform: translate(231.343px + 3px, 338.865px + -45px) rotate(3deg);
//     -o-transform: translate(231.343px + 3px, 338.865px + -45px) rotate(3deg);
//     transform: translate(231.343px + 3px, 338.865px + -45px) rotate(3deg);
//     filter: brightness(110%) saturate(140%); 
// }
// .blueprint_active {
//     transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
//     -webkit-transform: translate(493.038px + 0, 354.28px + -70px) rotate(-5deg);
//     -ms-transform: translate(493.038px + 0, 354.28px + -70px) rotate(-5deg);
//     -moz-transform: translate(493.038px + 0, 354.28px + -70px) rotate(-5deg);
//     -o-transform: translate(493.038px + 0, 354.28px + -70px) rotate(-5deg);
//     transform: translate(493.038px + 0, 354.28px + -70px) rotate(-5deg);
//     filter: brightness(110%) saturate(140%); 
// }
// .hammer_active {
//     transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
//     -webkit-transform: translate(690.738px + -10px, 326.905px + -70px) rotate(-5deg);
//     -ms-transform: translate(690.738px + -10px, 326.905px + -70px) rotate(-5deg);
//     -moz-transform: translate(690.738px + -10px, 326.905px + -70px) rotate(-5deg);
//     -o-transform: translate(690.738px + -10px, 326.905px + -70px) rotate(-5deg);
//     transform: translate(690.738px + -10px, 326.905px + -70px) rotate(-5deg);
//     filter: brightness(110%) saturate(140%); 
// }
// .wrench_active {
//     transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
//     -webkit-transform: translate(842.317px + 20px, 375.937px + -70px) rotate(5deg);
//     -ms-transform: translate(842.317px + 20px, 375.937px + -70px) rotate(5deg);
//     -moz-transform: translate(842.317px + 20px, 375.937px + -70px) rotate(5deg);
//     -o-transform: translate(842.317px + 20px, 375.937px + -70px) rotate(5deg);
//     transform: translate(842.317px + 20px, 375.937px + -70px) rotate(5deg);
//     filter: brightness(110%) saturate(140%); 
// }
// .phone_active {
//     transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
//     -webkit-transform: translate(272.398px + 20px, 773.332px + -80px) rotate(-151 + 7deg);
//     -ms-transform: translate(272.398px + 20px, 773.332px + -80px) rotate(-151 + 7deg);
//     -moz-transform: translate(272.398px + 20px, 773.332px + -80px) rotate(-151 + 7deg);
//     -o-transform: translate(272.398px + 20px, 773.332px + -80px) rotate(-151 + 7deg);
//     transform: translate(272.398px + 20px, 773.332px + -80px) rotate(-151 + 7deg);
//     filter: brightness(110%) saturate(140%);
// }

////////////////////////////// SVG TEXT ACTIVATION /////////////////////////////

.school_path_active {
    stroke-dasharray: 421.3840026855469;
    stroke-dashoffset: 0;
    animation: school_dash .7s cubic-bezier(0.975, 0.22, 0.465, 1);
}

.school_path_inactive {
    display: none;
}

@keyframes school_dash {
    from {
        stroke-dashoffset: 421.3840026855469;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.contact_path_active {
    stroke-dasharray: 421.3840026855469;
    stroke-dashoffset: 0;
    animation: contact_dash .7s cubic-bezier(0.975, 0.22, 0.465, 1);
}

.contact_path_inactive {
    display: none;
}

@keyframes contact_dash {
    from {
        stroke-dashoffset: 421.3840026855469;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.work_path_active {
    stroke-dasharray: 355.6432189941406;
    stroke-dashoffset: 0;
    animation: work_dash .7s cubic-bezier(0.975, 0.22, 0.465, 1);
}

.work_path_inactive {
    display: none;
}

@keyframes work_dash {
    from {
        stroke-dashoffset: 355.6432189941406;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.projects_path_active {
    stroke-dasharray: 408.7936096191406;
    stroke-dashoffset: 0;
    animation: projects_dash .7s cubic-bezier(0.975, 0.22, 0.465, 1);
}

.projects_path_inactive {
    display: none;
}

@keyframes projects_dash {
    from {
        stroke-dashoffset: 408.7936096191406;
    }
    to {
        stroke-dashoffset: 0;
    }
}

#projects_text, #work_text, #school_text, #contact_text {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
}

.projects_text_inactive, .work_text_inactive, .school_text_inactive, 
.contact_text_inactive {
    display: unset;
    opacity: 0;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////// INFORMATION SECTIONS ////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.invisible {
    // display:none;
    opacity: 0;
    user-select: none;
    cursor: default !important;
    pointer-events: none;
}

.visible {
    opacity: 1;
}

.onTop {
    z-index: 999;
}

.container-off {
    display: none !important;
}

// #school-container, #work-container, #projects-container, #contact-container {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
// }

///////////////////////////// CONTACT CONTAINER ////////////////////////////////

// .move-contact {
//     transform: translate(-100px, 0px) !important;
    // transform: translate3d(-100px, 0px, 0px) !important;
// }

#contact-container {
    min-height: 100vh;
    background-color: var(--contact-bg);
    #contact-rising-rectangles {
        width: 100%;
        // display: grid;
        // grid;
        // display: flex;
        // flex-direction: row;
        padding: 0;
        margin: 0;
        .rising-rectangle {
            background-color: var(--contact-bg);
        }

        #rising-rectangle-1 {
            left: 0;
            width: 3%;
            margin-top: -10rem;
            height: 10rem;
        }
        #rising-rectangle-2 {
            left: 0;
            width: 3%;
            margin-top: -10rem;
            height: 10rem;
        }
        #rising-rectangle-3 {
            left: 0;
            width: 3%;
            margin-top: -10rem;
            height: 10rem;
        }
        #rising-rectangle-4 {
            left: 0;
            width: 3%;
            margin-top: -10rem;
            height: 10rem;
        }
    }
}

////////////////////////////// SCHOOL CONTAINER ////////////////////////////////

#school-container {
    min-height: 100vh;
    background-color: var(--school-bg);
    background-size: 30px 30px;
    background-image:
        linear-gradient(to right, rgb(124, 124, 124, 0.5) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(124, 124, 124, 0.5) 1px, transparent 1px);
}

#school-container {
    .school-list {
        .school-element {
            // height: 60vw;
            height: 80vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            // width: 80vw;
            .school-card {
                background-color: white;
                // background-color: var(--school-bg);
                border-radius: 10px;
                // height: 50vw;
                width: 80vw;
                max-width: 70vh;
                // max-height: 50vh;
                padding: 20px;
                // background-color: var(--school-bg);
                .school-image {
                    max-height: 50%;
                    max-width: 100%;
                }
    
                .school-text {
                    font-family: var(--thin-font);
                    font-size: var(--projects-title-fs-mobile);
                    letter-spacing: 0.093em;
                }
            }

            .school-divider {
                // content: '&nbsp';
                // height: 100px;
                height: 100%;
                width: 10px;
                background-color: var(--gray);
            }
        }

        #school-cmu {
            .school-card {
                margin-top: 5%;
            }
        }

        #school-harvard {

        }

        #school-cornell {

        }

        #school-asfm {

        }
    }
}



///////////////////////////////// WORK CONTAINER ///////////////////////////////

#work-container {
    min-height: 100vh;
    background-color: var(--work-bg);
}

////////////////////////////// PROJECTS CONTAINER //////////////////////////////

#projects-container {
    min-height: 100vh;
    // background-color: var(--projects-bg);
    
    background-color: rgb(29, 104, 162, .9);
    background-image:
      linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
      linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
      linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    .title-wrapper {
        width: 90%;
        margin: 0 auto;
        height: 15vh;
        vertical-align: middle;
        h1 {
            line-height: 15vh;
        }
    //     .title {
    //         font-size: var(--section-title-fs-mobile);
            
    //     }
    }
}

.spacer {
    height: 15vh;
    width: 100%;
}

.projects-grid {
    width: 100%;
    .projects-row {
        width: 100%;
        // display: flex;
        // display: flex;
        justify-content: center;
        display: flex;
        flex-direction: column;
        // flex-direction: row;
        align-items: center;
        .projects-element {
            cursor:pointer;
            text-align: left;
            display:inline-block;
            // height: 230px;
            height: 50vw;
            // width: 380px;
            width: 80vw;
            margin-bottom: 8vw;
            
            position: relative;
            .projects-text {
                transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                // user-select: none;
                padding: 1rem 3.5rem 1rem 1rem;
                bottom: 0;
                // top: 75%;
                // top: 0;
                position: absolute;
                display:inline-block;
                width: 75%;
                
                background-color: rgba(61, 133, 197, 0.7);
                border-radius: 0 20px 0 0;
                // border-radius: 0 0 20px 0;
                .projects-title {
                    font-family: var(--regular-font);
                    color: white;
                    font-size: var(--projects-title-fs-mobile);
                    letter-spacing: 0.093em;
                }
                .projects-description {
                    margin-top: 5px;
                    font-family: var(--thin-font);
                    color: white;
                    font-size: var(--projects-desc-fs-mobile);
                    letter-spacing: 0.093em;
                    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                }
            }
        }
    }

    // .projects-element:hover {
    //     .projects-text {
    //         .projects-description {
    //         }
    //     }
    // }

    #projects-clickshare {
        background-image: url("../assets/info-sections/clickshare-bg.png");
        // background-image: linear-gradient(var(--blue), var(--blue)), 
        //     url("../assets/info-sections/clickshare-bg.png");
        background-size:cover;
        background-repeat: no-repeat;
        // background-blend-mode: saturation;
    }

    #projects-xylo {
        background-image: url("../assets/info-sections/xylo-bg.png");
        background-size:cover;
        background-repeat: no-repeat;
    }

    #projects-studynet {
        background-image: url("../assets/info-sections/studynet-bg.png");
        background-size:cover;
        background-repeat: no-repeat;
    }

    #projects-portfolio {
        background-image: url("../assets/info-sections/portfolio-bg.png");
        background-size:cover;
        background-repeat: no-repeat;
    }

    #projects-pointandprove {
        background-image: url("../assets/info-sections/pointandprove-bg.png");
        background-size:cover;
        background-repeat: no-repeat;
    }

}

// ul.projects-list {
//     // display: flex;
//     padding: 0;
//     margin: 0 0 40px 0;
//     width:90%;
//     align-self: center;
//     text-align: center;
    
    
//     li.projects-element {
//         text-align: left;
//         display:inline-block;
//         // margin: 1.5em auto 2em auto;
//         // height: 25vw;
//         height: 230px;
//         width: 380px;
//         margin-bottom: 20px;
//         // vertical-align: bottom;
//         // vertical-align: bottom;
//         position: relative;
//         .projects-text {
//             user-select: none;
//             padding: 1rem 3.5rem 1rem 1rem;
//             bottom: 0;
//             position: absolute;
//             width: 75%;
//             // background-color: var(--projects-bg);
//             // background-color: rgba(50, 139, 249, 0.5);
//             // background-color: rgba(46, 53, 61, 0.5);
//             background-color: rgba(61, 133, 197, 0.7);
//             border-radius: 0 20px 0 0;
//             .projects-title {
//                 font-family: var(--regular-font);
//                 // color: var(--gray);
//                 // color: white;
//                 color: white;
//                 // color: var(--yellow);
//                 font-size: var(--projects-title-fs-mobile);
//                 letter-spacing: 0.093em;
//             }
//             .projects-description {
//                 margin-top: 5px;
//                 font-family: var(--thin-font);
//                 // color: var(--gray);
//                 // color: white;
//                 color: white;
//                 // color: var(--yellow);
//                 // font-size: ;
//                 // font-size: var(--luca-fs-pc);
//                 font-size: var(--projects-desc-fs-mobile);
//                 letter-spacing: 0.093em;
//                 transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
//                 opacity: 0;
//                 height: 20px;
//                 overflow: hidden;
//                 overflow-y: hidden;
//                 // overscroll-behavior: none;
//             }
//             // overflow-y: hidden;
//             // overflow: hidden;
//             // overscroll-behavior: none;
//             // .projects-description {
//             // }
//         }
//         // overflow-y: hidden;
//         // overscroll-behavior: none;
//     }

//     li.projects-element:hover {
//         .projects-text {
//             .projects-description {
//                 opacity: 1;
//                 height: 50px;
//                 overflow-y: hidden;
//             }
//         }
//     }

//     #projects-clickshare {
//         background-image: url("../assets/info-sections/clickshare-bg.png");
//         // background-image: linear-gradient(var(--blue), var(--blue)), 
//         //     url("../assets/info-sections/clickshare-bg.png");
//         background-size:cover;
//         background-repeat: no-repeat;
//         // background-blend-mode: saturation;
//     }

//     #projects-xylo {
//         background-image: url("../assets/info-sections/xylo-bg.png");
//         background-size:cover;
//         background-repeat: no-repeat;
//     }

//     #projects-studynet {
//         background-image: url("../assets/info-sections/studynet-bg.png");
//         background-size:cover;
//         background-repeat: no-repeat;
//     }

//     #projects-portfolio {
//         background-image: url("../assets/info-sections/portfolio-bg.png");
//         background-size:cover;
//         background-repeat: no-repeat;
//     }

//     // #projects-xylo {
//     //     background-image: ;
//     // }

//     // #projects-studynet {
//     //     background-image: ;
//     // }

//     // #projects-portfolio {
//     //     background-image: ;
//     // }

// }

////////////////////////////////////////////////////////////////////////////////
//////////////////////////// VIEWPORT DEPENDENT ////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@media only screen and (max-width: 1100px) and (min-width: 800px) {
    svg#toolbelt {
        width: 630px;
    }
}    

@media only screen and (min-width: 1100px) {
    svg#toolbelt {
        width: 50%;
    }
}

@media only screen and (max-width: 450px) {
    ul.projects-list {
        li.projects-element {
            height: 190px;
            width: 320px;
        }
    }
}

@media only screen and (min-width: 1300px) {
    // ul.projects-list {
    //     li.projects-element {
    //             height: 350px;
    //             width: 600px;
    //             // margin-bottom: 0px;
    //             margin: 6px;
    //     }
    // }
    .projects-grid {
        margin-bottom: 5%;
        .projects-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .projects-element {
                    height: 350px;
                    width: 600px;
                    // margin-bottom: 0px;
                    margin: 10px;
                    .projects-text {
                        top: 75%;
                        .projects-description {
                            opacity: 0;
                            height: 0;
                        }
                    }
            }
            .projects-element:hover {
                .projects-text {
                    top: 65%;
                    .projects-description {
                        opacity: 1;
                        height: 50px;
                        overflow-y: hidden;
                    }
                }
            }
        }
    }
    
}


@media only screen and (min-width: 700px) {
    #header {
        #header-container {
            .nav-text {
                #name {
                    h1.luca {
                        font-size: var(--luca-fs-pc);
                    }
                }
                #epithet {
                    margin-top: 5px;
                    font-size: var(--epithet-fs-pc);
                }
            }
            
            #pound-symbol {
                height: 45px;
                width: auto;
                margin: auto 0;
            }
        }
    }
    #links_belt {
        max-height: 24vh !important;
    }

    #text-bar {
        display: unset;
    }
    #text-comma {
        display: none;
    }


    .scale-belt-school {
        transform: translate(15%, 5%);
    }
    
    .scale-belt-projects {
        transform: translate(0, 15%);
    }
    
    .scale-belt-work {
        transform: translate(-20%, 10%);
    }
    
    .scale-belt-contact {
        transform: translate(15%, 0);
    }
    
    .anim-container {
        font-size: var(--epithet-fs-pc) !important;
    }
    .underline-anim::after {
        height: 2.8px;
    }

}

