body {
    padding: 0;
    margin: 0;
}

/* p {
    
} */


.profileImage {
    width: 50px;
    height: 50px;
    border: 1 px solid black;
}


.background {
    width: 100%;
    height: 100%;
    margin: 0;
    /* background-color: black; */
    /* background-color: #FBFBFD; */
}

.navBar {
    width: 100%;
    height: 50px;
    margin: 0;
    /* background: black;  */
}

.navBar > .navList {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;

    /* width: 32%;
    line-height: 50px;
    text-align: center;
    color: black;
    display: inline-block;
    margin: 0;
    font-family: Arial;
    text-decoration: none;  */
}

.navList > .element {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    display: inline;
}

.navList > .element:hover { 
    text-decoration: underline;
    color: gray;
}


/* .navBar > .element:hover { 
    text-decoration: underline;
    color: gray;
} */

.navBar > .logo { 
    float: left;
}

/* .logo {
    float: left;
} */